{% extends 'task/base.html' %}
{% load static %}

{% block title %}Все записи{% endblock %}

{% if messages %}
    <ul>
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
    {% for obj in all_objects %}
        <ul class="">
            <li>Запись №{{ obj.id }}</li>
            <li>{{ obj.name }}</li>
            <li>{{ obj.date_birth }}</li>
            <li>{{ obj.salary }}</li>
            <li>{{ obj.email }}</li>
            <li>{{ obj.docs }}</li>
            <a href="{% url 'edit' obj.id %}"><button>Редактировать</button></a><a href="{% url 'delete_post' obj.id %}"><button>Удалить</button></a>
        </ul>
        <hr>
    {% endfor %}
{% endblock %}