{% extends 'task/base.html' %}
{% load static %}

{% block title %}Все записи{% endblock %}

{% if messages %}
    <ul>
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
    {% for obj in all_objects %}
        <ul class="">
              <a href="{{ MEDIA_URL }}/reports/{{ obj }}"><li>{{ obj }}</li></a>
{#            <a href="{% url 'delete_post' obj.id %}"><button>Удалить</button></a>#}
        </ul>
        <hr>
    {% endfor %}
{% endblock %}